*{
    font-family: 'RobotoMono', monospace;
}
body{
    justify-content: center;
    display:flex;
    text-align: center;
    color: #FFF;
    background-color: #808080;
    background: linear-gradient(to right,rgb(19,106,138),rgb(38,120,113));
    text-decoration-skip: unset;
    text-decoration: none;
}
input{
    font-size: 3em;
    margin-bottom: 30px;
}

.output{
    font-size:larger;
    color:yellow;
    background-color: rgb(0, 81, 255)    
}

#filtro{

    justify-content: center;
    margin-top: 100px;
}

/* menu*/
/* link que ainda não foi visitado */
a:link {
    color: red;
 }
 
 /* link que foi visitado */
 a:visited {
     color: rgba(14, 37, 241, 0.432);
 }
 
 /* mouse over */
 a:hover {
     color: #000000;
 }
 
 /* link selecionado */
 a:active {
     color: blue;
 }